body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  text-align: center;
}

.product-container {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 500px;
}

.color-option {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.color-option div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid transparent;
}

.color-option div:hover {
  border: 4px solid rgba(0, 0, 0, 0.6);
}

[data-selected="true"] {
  border: 4px solid rgba(0, 0, 0, 0.6) !important;
}

.neon-green { background-color: #24e751; }
.neon-orange { background-color: #ff2712; }
.fuchsia { background-color: #dd3b92; }
.azure { background-color: #018ec5; }
.ash { background-color: #92908c; }
.frost { background-color: #eaeceb; }